<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" name="viewport"
	content="width-device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<header th:replace="layout/layout :: header"> </header>


	<div class="container py-4 col-md-10">
		<div class="card bg-light border-dark">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
<!-- 					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/entrada/formEntrada}" class="btn btn-primary btn-xs">Realizar Entrada</a>
 -->				</h4>
				<div class="table-responsive">
				<table id="tablaCl" class="table table-striped table-bordered" style = "text-align: center;">
					<thead class="thead-dark">
						<tr>
							<th sec:authorize="hasAnyRole('ROLE_Super_ADMIN','ROLE_ADMIN')">ID</th>
							<th >Solicitante</th>
							<th>Departamento</th>
							<th>Estado de Requisición</th>
							<th>Fecha</th>
							<th >Total</th>
							<th>Ver</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="requisicion: ${requisicion}">
							<td th:text="${requisicion.id_requi}"></td>
							<td th:text="${requisicion.solicitante}"></td>
							<td th:text="${requisicion.departamento}"></td>
							<td th:text="${requisicion.estado}"></td>
							<td th:text="${#dates.format(requisicion.fecha, 'dd-MM-yyyy')}"></td>
							<td th:text="${#numbers.formatDecimal(requisicion.total,2,'COMMA',2,'POINT')}"></td> 
						   <td> <a class="btn btn-outline-info btn-xs" th:href="@{'/requisicion/verDetalleRequisicion/' + ${requisicion.id_requi}}" th:text="detalle"></a></td>
							
						</tr>
					</tbody>
				</table>
				</div>
				<!-- <nav th:replace="paginator-nav :: paginator"></nav> -->
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
		<script th:replace="requisicion/customDTRequisicion :: customjs" ></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.js"></script>
	</body>
</html>