<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" name="viewport"
	content="width-device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<header th:replace="layout/layout :: header"> </header>


	<div class="container py-4">
		<div class="card bg-light border-dark">
			<div class="card-header" th:text="${titulo}">
			</div>
			<div class="card-body">
				<h4 class="card-title">
				
				</h4>
		
				<ul class="list-group my-2">
		
					<li class="list-group-item list-group-item-primary"
						>Datos de Entrada
					<li class="list-group-item" th:text="'Responsable: '+ ${entrada.responsbl}"></li>
					<li class="list-group-item" th:text="'Proveedor: '+ ${entrada.proveedor.nombre_prov}"></li>
					<li class="list-group-item" th:text="'Fecha: ' + ${#dates.format(entrada.fecha, 'dd-MM-yyyy')}"></li>
				</ul>

				<div class="aler alert-info my-4"
					th:if="${#lists.isEmpty(entrada.lineasM)}"
					th:text="'No hay lineas para la entrada'"></div>

				<table th:if="${not #lists.isEmpty(entrada.lineasM)}"
					class="table table-hover table-bordered my-3" style="text-align: center;">
					<thead class="thead-dark">
						<tr>
						    <th>ID</th>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linea: ${entrada.lineasM}">
						<td th:text="${linea.id_det_entr}"></td>
							<td th:text="${linea.articulo.nombre}"></td>
							<td
								th:text="${#numbers.formatDecimal(linea.precio,2,'COMMA',2,'POINT')}"></td>
							<td th:text="${linea.cantidad}"></td>
							<td
								th:text="${#numbers.formatDecimal(linea.calcularImporte(),2,'COMMA',2,'POINT')}"></td>
						</tr>
					</tbody>
				</table>

				<h5 class="float-right">
					Gran Total <span
						th:text="${#numbers.formatDecimal(entrada.total,2,'COMMA',2,'POINT')}"
						class="badge badge-secondary"></span>
				</h5>
				
				
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="entrada/customDTEntrada :: customjs"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.css" />
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.js"></script>
</body>
</html>