<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" name="viewport"
	content="width-device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<header th:replace="layout/layout :: header"> </header>


	<div class="container py-4 col-md-11" >
		<div class="card bg-light border-dark">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasAnyRole('ROLE_Super_ADMIN','ROLE_ADMIN')" th:href="@{/proveedores/formProveedor}" class="btn btn-primary btn-xs">Crear Proveedor</a>
				</h4>
				<div class="table-responsive">
				<table id="tablaCl" class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th sec:authorize="hasAnyRole('ROLE_Super_ADMIN','ROLE_ADMIN')">ID</th>
							<th >Nombre Proveedor</th>
							<th >Teléfono</th>
							<th >Dirección</th>
							<th >email</th>
							<th >Observación</th>
							<th  sec:authorize="hasAnyRole('ROLE_Super_ADMIN','ROLE_ADMIN')">Editar</th>
							<th  sec:authorize="hasAnyRole('ROLE_Super_ADMIN','ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proveedor: ${proveedor}">
							<td th:text="${proveedor.id_prov}"></td>
							<td th:text="${proveedor.nombre_prov}"></td>
							<td th:text="${proveedor.tel_prov}"></td>
							<td th:text="${proveedor.direccion}"></td>
							<td th:text="${proveedor.email}"></td>
							<td th:text="${proveedor.observacion}"></td>
							<td sec:authorize="hasAnyRole('ROLE_Super_ADMIN','ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
								th:href="@{/proveedores/formProveedor/} + ${proveedor.id_prov}" th:text='editar'></a></td>
							<td sec:authorize="hasAnyRole('ROLE_Super_ADMIN','ROLE_ADMIN')"><a class="btn btn-danger btn-xs"
								th:href="@{eliminarProveedor/} + ${proveedor.id_prov}" th:text='eliminar'
								onclick="return confirm('Estas seguro que quieres Eliminar?');"></a></td>
						</tr>
					</tbody>
				</table>
				</div>
				<!-- <nav th:replace="paginator-nav :: paginator"></nav> -->
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
<script th:replace="proveedores/customDTProveedores :: customjs" ></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.js"></script>
	</body>
</html>